<!DOCTYPE html>
<html ng-app="flaskmap">
    <head>
        <title>map in a flask</title>
        <meta http-equiv="content-type" content="text/html"; charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link type="text/css" href="/static/css/flaskmap/styles.css" rel="stylesheet" />
        <link type="text/css" href="/static/css/bootstrap/2.3.2.css" rel="stylesheet" />
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ go_map_api_key }}&sensor=false"></script>
        <script type="text/javascript" src="/static/js/angular/1.0.7.js"></script>
        <script type="text/javascript" src="/static/js/jquery/2.0.3.js"></script>
        <script type="text/javascript" src="/static/js/jquery/noty/2.0.3/2.0.3.js"></script>
        <script type="text/javascript" src="/static/js/jquery/noty/2.0.3/layouts/bottomRight.js"></script>
        <script type="text/javascript" src="/static/js/jquery/noty/2.0.3/themes/default.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap/dropdown.js"></script>
        <script type="text/javascript" src="/static/js/flaskmap/app.js"></script>
    </head>
{% raw %}
    <body ng-controller="FlaskMapController">
        <div ng-class="mapDisplayMode" class="mapDisplayColumn">
            <button class="btn normalScreenButton" title="Mostrar editor" ng-show="fullscreenMap" type="submit" ng-click="toggleFullscreenMap()"><i class="icon-resize-small"></i></button>
            <googlemap map-to-model="gmap" on-dblclick="emitMapDoubleClick" />
        </div>
        <div ng-show="!fullscreenMap" class="toolColumn">
            <div style="height: 100%;">
                <div style="padding: 4px;">
                    <div class="navbar" style="margin-bottom: 0;">
                        <div class="navbar-inner">
                            <a class="brand" href=".">Flaskmap</a>
                            <ul class="nav">
                                <li ng-class="getMenuButtonClass('poi')"><a ng-href="#/poi{{pathPoiEditor}}">POI</a></li>
                                <li ng-class="getMenuButtonClass('routes')"><a href="#/routes{{pathRouteEditor}}">Rutas</a></li>
                            </ul>
                            <ul class="nav pull-right">
                                <li>
                                    <a href="https://github.com/Mithrandir0x/flaskmap">Github</a>
                                </li>
                                <li>
                                    <button class="btn" title="Ocultar editor" type="submit" ng-click="toggleFullscreenMap()"><i class="icon-resize-full"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-controller="PoiEditor" ng-show="isContext('poi')" class="contextBox poi">
                    <div ng-show="!selectedContainer">
                        <span>Puede seleccionar una lista de puntos de interés <span class="caret"></span> o crear una nueva lista <i class="icon-file"></i>:</span>
                    </div>
                    <div class="clear: both;">
                        <div class="input-prepend btn-group">
                            <button class="btn" title="Crear nueva lista" type="submit" ng-click="createPoiContainer()"><i class="icon-file"></i></button>
                            <button class="btn" title="Guardar lista" type="submit" ng-show="selectedContainer" ng-click="savePoiContainer()"><i class="icon-hdd"></i></button>
                            <input type="text" class="poiListName" ng-model="selectedContainer.name" ng-disabled="!selectedContainer" />
                            <button class="btn dropdown-toggle" data-toggle="dropdown" title="Cambiar de lista" type="submit"><span class="caret"></span></button>
                            <ul class="dropdown-menu poiListSelector" role="menu" aria-labelledby="poiMenuItems" style="width: 100%; margin-left: -1px;">
                                <li ng-click="selectContainer(container)" ng-repeat="container in containers | orderBy:name">
                                    <a>{{ container.name }}</a>
                                </li>
                                <li ng-show="containers.length != 0" class="divider"></li>
                                <li ng-click="createPoiContainer()">
                                    <a>Crear nueva lista</a>
                                </li>
                            </ul>
                            <button class="btn btn-danger" title="Eliminar lista" type="submit" ng-show="selectedContainer" ng-click="deletePoiContainer()"><i class="icon-trash icon-white"></i></button>
                        </div>
                        <div style="float: right;">
                            <div class="btn-group" style="float: left;">
                            </div>
                            <div ng-show="selectedContainer" class="btn-group" style="float: left; margin-left: 8px;">
                                <a class="btn" title="Descargar lista" href="/poi/{{selectedContainer.id}}.ov2"><i class="icon-download"></i></a>
                                <!-- button class="btn" title="Subir lista" type="submit" ng-click=""><i class="icon-upload"></i></button -->
                            </div>
                        </div>
                    </div>
                    <div style="overflow-y: auto; height: 90%;">
                        <div class="poiRow" ng-repeat="poi in selectedContainer.content">
                            <div class="input-append">
                                <input class="poiName" type="text" ng-model="poi.name" />
                                <input class="latlngInput" type="number" step="0.01" ng-model="poi.latitude" min="-90" max="90" />
                                <input class="latlngInput" type="number" step="0.01" ng-model="poi.longitude" min="-180" max="180" />
                                <!-- button class="btn" title="Añadir a ruta" type="submit"><i class="icon-road"></i></button -->
                                <button class="btn" title="Ver Punto de Interés" type="submit" ng-click="panMapTo(poi)"><i class="icon-screenshot"></i></button>
                                <button class="btn" title="Borrar POI" type="submit" ng-click="deletePoi($index)"><i class="icon-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-controller="RouteEditor" class="contextBox routes" ng-show="isContext('routes')">
                    <div ng-show="!selectedRoute">
                        <span>Puede seleccionar una ruta <span class="caret"></span> o crear una nueva <i class="icon-file"></i>:</span>
                    </div>
                    <div class="input-prepend btn-group">
                        <button class="btn" title="Crear nueva ruta" type="submit" ng-click="createRoute()"><i class="icon-file"></i></button>
                        <button class="btn" title="Guardar lista" type="submit" ng-show="selectedRoute" ng-click="saveRoute()"><i class="icon-hdd"></i></button>
                        <input type="text" class="poiListName" style="width: 312px;" ng-model="selectedRoute.name" ng-disabled="!selectedRoute" />
                        <button class="btn dropdown-toggle" data-toggle="dropdown" title="Cambiar de lista" type="submit"><span class="caret"></span></button>
                        <ul class="dropdown-menu poiListSelector" role="menu" aria-labelledby="routeItems" style="width: 100%; margin-left: -1px;">
                            <li ng-click="selectRoute(route)" ng-repeat="route in routes | orderBy:name">
                                <a>{{ route.name }}</a>
                            </li>
                            <li ng-show="containers.length != 0" class="divider"></li>
                            <li ng-click="createRoute()">
                                <a>Crear nueva ruta</a>
                            </li>
                        </ul>
                        <button class="btn btn-danger" title="Eliminar lista" type="submit" ng-show="selectedRoute" ng-click="deleteRoute()"><i class="icon-trash icon-white"></i></button>
                    </div>
                    <div style="overflow-y: auto; height: 90%;">
                        <div class="poiRow" ng-repeat="poi in selectedRoute.content">
                            <div class="input-append">
                                <input class="poiName" type="text" ng-model="poi.name" />
                                <!-- input class="latlngInput" type="number" step="0.01" ng-model="poi.latitude" min="-90" max="90" / -->
                                <!-- input class="latlngInput" type="number" step="0.01" ng-model="poi.longitude" min="-180" max="180" / -->
                                <!-- button class="btn" title="Añadir a ruta" type="submit"><i class="icon-road"></i></button -->
                                <button class="btn" title="Ver Punto de Interés" type="submit" ng-click="panMapTo(poi)"><i class="icon-screenshot"></i></button>
                                <button class="btn" title="Borrar POI" type="submit" ng-click="deleteRouteWaypoint($index)"><i class="icon-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <dropbox allowed-filetypes="application/octet-stream" on-drop="processDroppedElements" />
    </body>
</html>
{% endraw %}