<!DOCTYPE html>
<html ng-app="flaskmap">
    <head>
        <title>map in a flask</title>
        <meta http-equiv="content-type" content="text/html"; charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link type="text/css" href="/static/css/bootstrap/3.0.0-united.css" rel="stylesheet" />
        <!-- link type="text/css" href="/static/css/bootstrap/3.0.0-theme.css" rel="stylesheet" /-->
        <link type="text/css" href="/static/css/flaskmap/styles.css" rel="stylesheet" />
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ go_map_api_key }}&sensor=false"></script>
        <script type="text/javascript" src="/static/js/jquery/2.0.3.js"></script>
        <script type="text/javascript" src="/static/js/jquery/ui/1.10.3.sortable.js"></script>
        <script type="text/javascript" src="/static/js/angular/1.0.7.js"></script>
        <script type="text/javascript" src="/static/js/angular/ui/sortable.js"></script>
        <script type="text/javascript" src="/static/js/jquery/noty/2.0.3/2.0.3.js"></script>
        <script type="text/javascript" src="/static/js/jquery/noty/2.0.3/layouts/bottomRight.js"></script>
        <script type="text/javascript" src="/static/js/jquery/noty/2.0.3/themes/default.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap/dropdown.js"></script>
        <script type="text/javascript" src="/static/js/flaskmap/app.js"></script>
    </head>
{% raw %}
    <body ng-controller="FlaskMapController">
        <div ng-class="mapDisplayMode" class="mapDisplayColumn">
            <button class="btn btn-default normalScreenButton" title="Mostrar editor" ng-show="fullscreenMap" type="submit" ng-click="toggleFullscreenMap()"><i class="glyphicon glyphicon-resize-small"></i></button>
            <googlemap map-to-model="gmap" on-dblclick="emitMapDoubleClick" />
        </div>
        <div ng-show="!fullscreenMap" class="toolColumn">
            <div style="height: 100%;">
                <div style="padding: 4px;">
                    <div class="navbar navbar-inverse" style="margin-bottom: 0;">
                        <div class="navbar-header">
                            <a class="navbar-brand" href=".">Flaskmap</a>
                        </div>
                        <div class="navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li ng-class="getMenuButtonClass('poi')">
                                    <a ng-href="#/poi{{pathPoiEditor}}">POI</a>
                                    <div class="btn-group" ng-show="isContext('poi')">
                                        <button class="menuButton btn btn-default" title="Guardar todas las listas" ng-click="$broadcast('save-all-containers')"><i class="glyphicon glyphicon-hdd"></i></button>
                                    </div>
                                </li>
                                <li ng-class="getMenuButtonClass('routes')"><a href="#/routes{{pathRouteEditor}}">Rutas</a></li>
                            </ul>
                            <form class="navbar-form navbar-right navbar-collapse">
                                <button class="btn btn-default" title="Ocultar editor" type="submit" ng-click="toggleFullscreenMap()"><i class="glyphicon glyphicon-resize-full"></i></button>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="https://github.com/Mithrandir0x/flaskmap">Github</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-controller="PoiEditor" ng-show="isContext('poi')" class="contextBox poi">
                    <div ng-show="!selectedContainer">
                        <span>Puede seleccionar una lista de puntos de interés <span class="caret"></span> o crear una nueva lista <i class="glyphicon glyphicon-file"></i>:</span>
                    </div>
                    <div class="input-group input-group-sm" style="margin-bottom: 4px;">
                        <div class="input-group-btn">
                            <button class="btn btn-default" title="Crear nueva lista" type="submit" ng-click="createPoiContainer()"><i class="glyphicon glyphicon-file"></i></button>
                            <button class="btn btn-default" title="Guardar lista" type="submit" ng-show="selectedContainer" ng-click="savePoiContainer()"><i class="glyphicon glyphicon-hdd"></i></button>
                            <a ng-show="selectedContainer" class="btn btn-info" title="Descargar lista" href="/poi/{{selectedContainer.id}}/{{selectedContainer.name}}.ov2"><i class="glyphicon glyphicon-download"></i></a>
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Cambiar de lista" type="button"><span class="caret"></span></button>
                            <ul class="dropdown-menu poiListSelector" role="menu" aria-labelledby="poiMenuItems">
                                <li ng-repeat="container in containers | orderBy:'name'" style="position: relative;">
                                    <input class="displayPOIs" title="Mostrar puntos de interés" type="checkbox" ng-click="showContainerMarkers($event, container)" ng-model="container.showPoints" ng-show="container != selectedContainer" />
                                    <a ng-click="selectContainer(container)">{{ container.name }}</a>
                                    <a class="badge badge-inverse" ng-click="preventDefault($event)" title="Descargar lista" href="/poi/{{container.id}}.ov2"><i class="glyphicon glyphicon-download glyphicon glyphicon-white"></i></a>
                                </li>
                                <li ng-show="containers.length != 0" class="divider"></li>
                                <li ng-click="createPoiContainer()">
                                    <a>Crear nueva lista</a>
                                </li>
                            </ul>
                        </div>
                        <input type="text" class="form-control poiListName" ng-model="selectedContainer.name" ng-disabled="!selectedContainer" />
                        <div class="input-group-btn">
                            <button class="btn btn-danger" title="Eliminar lista" type="submit" ng-show="selectedContainer" ng-click="deletePoiContainer()"><i class="glyphicon glyphicon-trash glyphicon glyphicon-white"></i></button>
                        </div>
                    </div>
                    <div style="overflow-y: auto; height: 90%;" ui-sortable ng-model="selectedContainer.content">
                        <div class="poiRow" ng-repeat="poi in selectedContainer.content">
                            <div class="input-group input-group-sm">
                                <input class="form-control poiName" type="text" ng-model="poi.name" />
                                <input class="form-control latlngInput" type="number" ng-model="poi.latitude" ng-change="updatePoiMarker(poi)" step="0.01" min="-90" max="90" />
                                <input class="form-control latlngInput" type="number" ng-model="poi.longitude" ng-change="updatePoiMarker(poi)" step="0.01" min="-180" max="180" />
                                <div class="input-group-btn">
                                    <button class="btn btn-default" title="Añadir a ruta seleccionada" type="submit" ng-click="sendPoiToRoute(selectedRoute, poi)"><i class="glyphicon glyphicon-share-alt"></i></button>
                                    <button class="btn btn-default" title="Ver Punto de Interés" type="submit" ng-click="panMapTo(poi)"><i class="glyphicon glyphicon-screenshot"></i></button>
                                    <button class="btn btn-default" title="Borrar POI" type="submit" ng-click="deletePoi($index)"><i class="glyphicon glyphicon-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <contextmenu>
                        <ul class="dropdown-menu" role="menu" style="display: block;">
                            <li class="dropdown-submenu">
                                <a>Copiar punto de ruta a lista</a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="container in containers" ng-show="container != selectedContainer" style="position: relative;">
                                        <a ng-click="copyPoiToContainer(container)">{{ container.name }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a ng-show="selectedRoute" ng-click="sendPoiToRoute(selectedRoute)">Añadir a ruta seleccionada</a>
                            </li>
                        </ul>
                    </contextmenu>
                </div>
                <div ng-controller="RouteEditor" class="contextBox routes" ng-show="isContext('routes')">
                    <div ng-show="!selectedRoute">
                        <span>Puede seleccionar una ruta <span class="caret"></span> o crear una nueva <i class="glyphicon glyphicon-file"></i>:</span>
                    </div>
                    <div class="row" style="margin-bottom: 4px;">
                        <div class="col-md-6">
                            <div class="input-group input-group-sm">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" title="Crear nueva ruta" type="submit" ng-click="createRoute()"><i class="glyphicon glyphicon-file"></i></button>
                                    <button class="btn btn-default" title="Guardar lista" type="submit" ng-show="selectedRoute" ng-click="saveRoute()"><i class="glyphicon glyphicon-hdd"></i></button>
                                    <button class="btn btn-default" title="Información" type="submit" ng-show="selectedRoute" ng-click="toggleWaypointMetadata()"><i class="glyphicon glyphicon-info-sign"></i></button>
                                    <a ng-show="selectedRoute" class="btn btn-info" title="Descargar ruta" href="/route/{{selectedRoute.id}}/{{selectedRoute.name}}.itn"><i class="glyphicon glyphicon-download"></i></a>
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-disabled="updatingRoute" title="Cambiar de lista" type="submit"><span class="caret"></span></button>
                                    <ul class="dropdown-menu poiListSelector" role="menu" aria-labelledby="routeItems">
                                        <li ng-click="selectRoute(route)" ng-repeat="route in routes | orderBy:'name'">
                                            <a>{{ route.name }}</a>
                                        </li>
                                        <li ng-show="containers.length != 0" class="divider"></li>
                                        <li ng-click="createRoute()">
                                            <a>Crear nueva ruta</a>
                                        </li>
                                    </ul>
                                </div>
                                <input type="text" class="poiListName form-control" ng-model="selectedRoute.name" ng-disabled="!selectedRoute" />
                                <div class="input-group-btn">
                                    <button class="btn btn-danger" title="Eliminar lista" type="submit" ng-show="selectedRoute" ng-click="deleteRoute()"><i class="glyphicon glyphicon-trash glyphicon glyphicon-white"></i></button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="selectedRoute" class="col-md-3">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                                <input class="form-control" readonly="readonly" type="text" ng-model="selectedRoute.distance" />
                                <span class="input-group-addon">Km</span>
                            </div>
                        </div>
                        <div ng-show="selectedRoute" class="col-md-3">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                <input class="form-control" type="text" readonly="readonly" ng-model="selectedRoute.duration" />
                            </div>
                        </div>
                    </div>
                    <div style="overflow-y: auto; height: 90%;" ui-sortable="sortableOptions" ng-model="selectedRoute.content">
                        <div class="poiRow" ng-repeat="wp in selectedRoute.content">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">{{$index}}</span>
                                        <input class="wpName form-control" type="text" ng-model="wp.name" />
                                        <!-- input class="latlngInput" type="number" step="0.01" ng-model="wp.latitude" min="-90" max="90" / -->
                                        <!-- input class="latlngInput" type="number" step="0.01" ng-model="wp.longitude" min="-180" max="180" / -->
                                        <!-- button class="btn" title="Añadir a ruta" type="submit"><i class="glyphicon glyphicon-road"></i></button -->
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" title="Ver Punto de Interés" type="submit" ng-click="panMapTo(wp)"><i class="glyphicon glyphicon-screenshot"></i></button>
                                            <button class="btn btn-default" title="Información" type="submit" ng-click="toggleWaypointMetadata(wp)"><i class="glyphicon glyphicon-info-sign"></i></button>
                                            <button class="btn btn-default" title="Borrar punto de ruta" type="submit" ng-click="deleteRouteWaypoint($index)"><i class="glyphicon glyphicon-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="distance info input-group input-group-sm">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                                        <input class="form-control" readonly="readonly" type="text" ng-model="wp.distance" />
                                        <span class="input-group-addon">Km</span>
                                    </div>
                                </div>
                            </div>
                            <div class="meta row" style="margin-top: 12px;" ng-show="wp.showMeta">
                                <div class="col-md-6">
                                    <div ng-show="!$last" class="input-group input-group-sm distance">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i> {{$index}} &rarr; {{$index + 1}}</span>
                                        <input class="form-control" readonly="readonly" type="text" ng-model="wp.distanceLeg" />
                                        <span class="input-group-addon">Km</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div ng-show="!$last" class="input-group input-group-sm duration">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i> {{$index}} &rarr; {{$index + 1}}</span>
                                        <input class="form-control" type="text" readonly="readonly" ng-model="wp.duration" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="updatingRoute" class="loader">
                        <p style="  text-align: center; margin-top: 25%;">Cargando...</p>
                    </div>
                </div>
            </div>
        </div>
        <dropbox allowed-filetypes="application/octet-stream" on-drop="processDroppedElements" />
    </body>
</html>
{% endraw %}